{% extends 'index.html' %}
{% load static %}

{% block contenido_que_cambia %}
<div class="container mt-5 mb-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="card-title">Cargar Diagnóstico</h1>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.paciente.id_for_label }}">Paciente:</label>
                    {{ form.paciente }}
                </div>
                <div class="form-group">
                    <label for="{{ form.medico.id_for_label }}">Médico:</label>
                    {{ form.medico }}
                </div>
                <div class="form-group">
                    <label for="{{ form.diagnostico.id_for_label }}">Diagnóstico:</label>
                    {{ form.diagnostico }}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Guardar</button>
            </form>
        </div>
    </div>
</div>

<!-- CKEditor script de inicialización -->
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('id_diagnostico', {
        // Configuraciones opcionales de CKEditor
    });
</script>
{% endblock %}