{% extends 'index.html' %}
{% load static %}

{% block contenido_que_cambia %}
<div class="container mt-5 mb-5">
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white text-center">
            <h1 class="card-title">Detalle de Historia Clínica</h1>
        </div>
        <div class="card-body">
            <p><strong>Paciente:</strong> {{ historia_clinica.paciente }}</p>
            <p><strong>Fecha:</strong> {{ historia_clinica.fecha|date:"d/m/Y H:i" }}</p>
            <div class="mt-4">
                <h3>Diagnóstico:</h3>
                <div class="border p-3">
                    {{ historia_clinica.diagnostico|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}